@use '../../public/custom-theme/space-theme-colors.scss' as *;
:host {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.navbar-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 8px 16px;
    

    & .flex-spacer {
        flex-grow: 1;
    }
    
    a {
    color: white;
    text-decoration: none;
    position: relative;
    
    &::after {
      content: '';
      position: absolute;
      width: 0;
      height: 2px;
      bottom: -4px;
      left: 0;
      background-color: white;
      transition: width 0.3s ease;
    }

    &:hover::after {
      width: 100%; /* Animación de izquierda a derecha */
    }
  }
}


