/* You can add global styles to this file, and also import other style files */

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@use 'sass:map';
@use '../public/custom-theme/space-theme-colors.scss' as space-theme-colors;




html {
  @include mat.theme((
    color: (
      primary: space-theme-colors.$primary-palette,
      tertiary: space-theme-colors.$tertiary-palette,
    ),
    typography: Roboto,
    density: 0
  ));
}

html, body { height: 90vh; }
body { 
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  color: var(--mat-sys-on-surface);
  background-color: space-theme-colors.$space-core-dark;


  &.dark-mode {
    color-scheme: dark;
  }

  @media(prefers-contrast: more) {
    @include space-theme-colors.high-contrast-overrides(color-scheme);
  }

}



::view-transition-old(root){
  animation: exit 1s ease 0s 1 normal forwards;
}

::view-transition-new(root){
  animation: enter 2s ease 0s 1 normal forwards;
}


@keyframes enter {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes exit {
  from {
    opacity: 1;
    transform:scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0);
  }
}
